In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import os
import math
import random
import glob
import requests
from ast import literal_eval
from multiprocessing import Process

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
data_path = './DataSet/'
random_state = 42
limit = 100000

In [5]:
train = pd.read_csv(f'{data_path}Train.csv')
test = pd.read_csv(f'{data_path}Test.csv')

/home/avinash/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/avinash/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
dict_sub = {'Col1':test.Col1,'Col2':np.zeros((test.shape[0],))}
sub = pd.DataFrame(dict_sub)
sub.to_csv(f'{data_path}Sample_submission.csv',index=False)

In [7]:
train.shape

(17521, 2395)

In [8]:
test.shape

(20442, 2394)

In [9]:
train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [10]:
test.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGD58ZWD,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,RIH660YDS,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0
2,RIH660Q96,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,...,0,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0
3,RIYDO15W1,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,...,0,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0
4,RIYBGC1ZD,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,...,0,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0

In [11]:
train.Col2.value_counts()

0    15760
1     1761
Name: Col2, dtype: int64

In [12]:
len(train.Col1.unique())

17521

In [13]:
train.describe()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,16347.000000,16347.000000,16335.000000,16347.00000,16347.000000,16335.000000
mean,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,3.617392e+04,...,0.736202,0.595343,0.773757,0.639005,55.540038,55.015416,35.180961,17.99584,17.539977,10.359657
std,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,2.612427e+05,...,0.910828,0.784953,0.921805,0.806286,53.269618,52.697069,34.956016,24.83891,24.685954,18.476447
min,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,3.505288e+03,...,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000,12.000000,9.00000,9.000000,5.000000
50%,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,8.832639e+03,...,0.000000,0.000000,0.000000,0.000000,42.000000,42.000000,27.000000,13.00000,13.000000,7.000000
75%,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,2.341911e+04,...,1.000000,1.000000,1.000000,1.000000,74.000000,73.000000,47.000000,21.00000,21.000000,12.000000
max,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,1.314762e+07,...,4.000000,4.000000,4.000000,4.000000,1305.000000,1305.000000,1211.000000,2205.00000,2205.000000,1831.000000

In [14]:
test.describe()

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,...,20442.000000,20442.000000,20442.000000,20442.000000,19183.000000,19183.000000,19164.000000,19183.000000,19183.000000,19164.000000
mean,3.749822e+04,2.360107e+04,3.099296e+04,3.153122e+04,2.728287e+04,3.625497e+04,3.282116e+04,3.295643e+04,3.903867e+04,3.901378e+04,...,0.634674,0.558262,0.670238,0.589864,49.688474,49.131366,31.288614,17.008341,16.527238,9.726936
std,8.090349e+05,6.659282e+05,6.434903e+05,6.422364e+05,6.588844e+05,6.710696e+05,3.642904e+05,3.831866e+05,4.169885e+05,4.400329e+05,...,0.853880,0.784091,0.867530,0.796850,62.765442,61.032971,38.698616,29.464562,29.155274,17.616897
min,-6.766640e+07,-6.416449e+07,-2.951962e+07,-5.160258e+07,-6.282747e+07,-5.448213e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,3.037609e+03,2.255115e+03,2.081114e+03,2.788630e+03,3.028607e+03,3.903768e+03,1.966539e+03,1.908582e+03,3.270135e+03,2.960897e+03,...,0.000000,0.000000,0.000000,0.000000,16.000000,16.000000,10.000000,8.000000,8.000000,4.000000
50%,1.076447e+04,7.793441e+03,7.511782e+03,1.022429e+04,1.075722e+04,1.369641e+04,6.529336e+03,6.173574e+03,8.926603e+03,8.363056e+03,...,0.000000,0.000000,0.000000,0.000000,35.000000,35.000000,22.000000,12.000000,12.000000,7.000000
75%,3.444611e+04,2.380610e+04,2.329657e+04,3.127464e+04,2.776564e+04,3.611465e+04,2.015090e+04,1.929168e+04,2.482480e+04,2.306036e+04,...,1.000000,1.000000,1.000000,1.000000,65.000000,64.000000,42.000000,20.000000,19.000000,12.000000
max,3.861868e+07,3.024852e+07,6.325956e+07,2.766654e+07,2.193012e+07,2.229041e+07,3.463760e+07,3.277868e+07,4.255362e+07,3.969719e+07,...,4.000000,4.000000,4.000000,4.000000,3598.000000,3597.000000,1946.000000,3104.000000,3104.000000,1745.000000

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2394 entries, Col1 to Col2397
dtypes: float64(837), int64(1545), object(12)
memory usage: 373.4+ MB

In [17]:
train[train.Col2 == 1].to_csv(f'{data_path}only1.csv',index=False)

In [18]:
# s = [str(x) for x in train.iloc[17450].values]
# with open(f'{data_path}example.txt','w') as f:
#     for x in s:
#         f.write(x+'\n')
#     f.close()

In [19]:
def splitVal(val):
    p1=[]
    p2=[]
    p3=[]
    for x in val:
        p1.append(x[:3])
        p2.append(x[3:6])
        p3.append(x[6:])
    return p1,p2,p3

In [20]:
x,y,z = splitVal(train['Col1'])
train['Col1_1'] = x
train['Col1_2'] = y
train['Col1_3'] = z
x,y,z = splitVal(test['Col1'])
test['Col1_1'] = x
test['Col1_2'] = y
test['Col1_3'] = z

In [21]:
train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397,Col1_1,Col1_2,Col1_3
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,1,214.0,214.0,68.0,22.0,22.0,7.0,RIG,HGS,N
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,41.0,41.0,38.0,12.0,12.0,11.0,RIM,HI5,ZGP
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,378.0,378.0,310.0,21.0,21.0,16.0,RIH,OG1,SZU
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,702.0,702.0,644.0,951.0,951.0,743.0,RIH,OLM,QWU
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0,RIH,O58,4ET

In [22]:
test.drop(['Col1'],axis=1,inplace=True)
train.drop(['Col1'],axis=1,inplace=True)

In [23]:
train.shape[0]-train.drop_duplicates().shape[0]

0

In [24]:
train.drop_duplicates(inplace=True)

In [25]:
test.shape[0]-test.drop_duplicates().shape[0]

0

In [26]:
target = train.Col2
train.drop(['Col2'],axis=1,inplace=True)

In [27]:
len(train.columns[train.isna().sum() > 0])

759

In [28]:
def getDuplicateColumns(df,x,cols):
    '''
    Get a list of duplicate columns.
    It will iterate over all the columns in dataframe and find the columns whose contents are duplicate.
    :param df: Dataframe object
    :return: List of columns whose contents are duplicates.
    '''
    duplicateColumnNames = []
    col = df[x]
    for y in cols:
        # Select column at yth index.
        otherCol = df[y]
        # Check if two columns at x 7 y index are equal
        if col.equals(otherCol):
            duplicateColumnNames.append(y)

    return duplicateColumnNames

In [29]:
to_drop = train.isna().sum()[(train.isna().sum() > int(.99*train.shape[0]))].index.values.tolist()

In [30]:
train.columns[train.dtypes == object]

Index(['Col747', 'Col836', 'Col1_1', 'Col1_2', 'Col1_3'], dtype='object')

In [31]:
train.Col836.value_counts()

0      438
-      144
0.0     41
5        1
Name: Col836, dtype: int64

In [32]:
test.Col836.value_counts()

 0.349927    50
 0.447214    38
 0.209956    29
-0.069985    26
-0.209956    23
             ..
 0.338919     1
 0.205843     1
 0.071645     1
 0.462210     1
 0.433782     1
Name: Col836, Length: 350, dtype: int64

In [33]:
to_drop.append('Col836')

In [34]:
train.Col747.value_counts()

0      443
-      133
0.0     46
1        2
3        1
5.0      1
Name: Col747, dtype: int64

In [35]:
test.Col747.value_counts()

 0.447214    38
 0.349927    35
 0.600000    21
 0.209956    19
-0.069985    19
             ..
 0.071645     1
 0.313575     1
 0.462210     1
 0.366252     1
 0.292461     1
Name: Col747, Length: 366, dtype: int64

In [36]:
to_drop.append('Col747')

In [37]:
train.Col1_1.value_counts()

O7M    997
O7Y    984
O7H    926
O75    749
O7E    618
      ...
AYW      1
7LG      1
7IM      1
YLG      1
Y9Y      1
Name: Col1_1, Length: 381, dtype: int64

In [38]:
test.Col1_1.value_counts()

O1H    1028
O1M    1015
O15     995
O1E     989
O1Y     958
       ...
T1M       1
T20       1
92Y       1
970       1
Y2M       1
Name: Col1_1, Length: 386, dtype: int64

In [39]:
le = LabelEncoder()
l = train.Col1_1.values.tolist()
l.extend(test.Col1_1.values.tolist())
l = np.reshape(np.array(l),(len(l),))
le.fit(l)
train.Col1_1 = le.transform(train.Col1_1)
test.Col1_1 = le.transform(test.Col1_1)

In [40]:
train.Col1_2.value_counts()

UV0    42
UV5    41
WLB    41
UVS    38
WVC    38
       ..
6LO     6
RV8     5
D5C     5
B55     4
RVO     3
Name: Col1_2, Length: 1000, dtype: int64

In [41]:
test.Col1_2.value_counts()

KUB    56
KU8    45
OQ8    43
UCM    42
OG1    41
       ..
WC0     6
HIS     6
BGY     5
WIS     5
WG      1
Name: Col1_2, Length: 1001, dtype: int64

In [42]:
le = LabelEncoder()
l = train.Col1_2.values.tolist()
l.extend(test.Col1_2.values.tolist())
l = np.reshape(np.array(l),(len(l),))
le.fit(l)
train.Col1_2 = le.transform(train.Col1_2)
test.Col1_2 = le.transform(test.Col1_2)

In [43]:
train.Col1_3.value_counts()

19     208
YG     208
4G     205
ND     204
SZ     198
      ...
ZGP      1
K        1
QWU      1
SZU      1
4ET      1
Name: Col1_3, Length: 116, dtype: int64

In [44]:
test.Col1_3.value_counts()

55     235
YJ     235
5R     233
4G     227
NJ     227
      ...
4Y6      1
K9D      1
1        1
Q        1
ZWD      1
Name: Col1_3, Length: 126, dtype: int64

In [45]:
le = LabelEncoder()
l = train.Col1_3.values.tolist()
l.extend(test.Col1_3.values.tolist())
l = np.reshape(np.array(l),(len(l),))
le.fit(l)
train.Col1_3 = le.transform(train.Col1_3)
test.Col1_3 = le.transform(test.Col1_3)

In [46]:
test.columns[test.dtypes == object]

Index(['Col702', 'Col733', 'Col742', 'Col754', 'Col763', 'Col791', 'Col813',
       'Col822', 'Col831', 'Col843', 'Col852'],
      dtype='object')

In [47]:
test.Col702.value_counts()

0.0    1527
0        13
-         1
Name: Col702, dtype: int64

In [48]:
train.Col702.value_counts()

0.000000    1395
0.255551       2
0.442620       1
0.079860       1
0.069985       1
0.057143       1
0.058166       1
Name: Col702, dtype: int64

In [49]:
to_drop.append('Col702')

In [50]:
test.Col791.value_counts()

0.0    1519
0        21
-         2
Name: Col791, dtype: int64

In [51]:
train.Col791.value_counts()

 0.000000    1397
 0.255551       2
 0.442620       1
 0.127775       1
 0.069985       1
 0.057143       1
-0.020092       1
Name: Col791, dtype: int64

In [52]:
to_drop.append('Col791')

In [53]:
test.Col813.value_counts()

0.0    8
-      1
Name: Col813, dtype: int64

In [54]:
train.Col813.value_counts()

0.0    7
Name: Col813, dtype: int64

In [55]:
to_drop.append('Col813')

In [56]:
test.Col813.value_counts()

0.0    8
-      1
Name: Col813, dtype: int64

In [57]:
train.Col813.value_counts()

0.0    7
Name: Col813, dtype: int64

In [58]:
to_drop.append('Col822')

In [59]:
str_cols = ['Col733', 'Col742', 'Col754', 'Col763','Col831', 'Col843', 'Col852']

In [60]:
def processing_strings(val):
    if type(val) == str:
        try:
            x = float(val)
            return float(val)
        except:
            return 0.0
    return val

In [61]:
for col in str_cols:
    train[col] = train[col].apply(processing_strings)
    test[col] = test[col].apply(processing_strings)

In [62]:
train.drop(to_drop,axis=1,inplace=True)
test.drop(to_drop,axis=1,inplace=True)

In [63]:
# np.savetxt('row.txt',np.array(test.iloc[20426].values))

In [64]:
dict_unique = {}

In [65]:
un=train.nunique()

In [66]:
for k in un.index:
    if un[k] in dict_unique:
        dict_unique[un[k]].append(k)
    else:
        dict_unique[un[k]] = [k]

In [67]:
categorical_cols = train.columns[(train.nunique() < 8)].values.tolist()

In [68]:
def process(dict_un):
    dict_data = dict()
    for k in dict_un.keys():
        cols=dict_un[k]
        for col in cols:
            dict_data[col] = getDuplicateColumns(train2,col,cols)
    with open(f'{data_path}duplicate_columns.txt','w') as f:
        f.write(str(dict_data))
        f.close()
    return dict_data

In [69]:
# def process(cols):
#     dict_data = dict()
#     for col in cols:
#         dict_data[col] = getDuplicateColumns(train,col,cols)
#     with open(f'{data_path}duplicate_columns.txt','w') as f:
#         f.write(str(dict_data))
#         f.close()

In [70]:
if os.path.exists(f'{data_path}duplicate_columns.txt'):
    with open(f'{data_path}duplicate_columns.txt','r') as f:
        data = literal_eval(f.read())
else:
    data = process(dict_unique)

In [71]:
items = set()
for k,v in data.items():
    if len(v) > 1 and k not in items:
        items.update(v)
        val = train[k].values
        train.drop(v,axis=1,inplace=True)
        train[k]=val
        val = test[k].values
        test.drop(v,axis=1,inplace=True)
        test[k]=val

In [72]:
train.shape

(17521, 2364)

In [73]:
test.shape

(20442, 2364)

In [74]:
cols_to_log = train.columns[((train.max(axis=0) >= 8) & (train.dtypes == float))].values

In [75]:
cols_to_log

array(['Col3', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9', 'Col10',
       'Col11', 'Col12', 'Col13', 'Col14', 'Col15', 'Col16', 'Col18',
       'Col19', 'Col20', 'Col21', 'Col22', 'Col23', 'Col24', 'Col37',
       'Col38', 'Col40', 'Col41', 'Col42', 'Col43', 'Col92', 'Col93',
       'Col94', 'Col95', 'Col96', 'Col97', 'Col98', 'Col99', 'Col101',
       'Col103', 'Col104', 'Col105', 'Col106', 'Col107', 'Col138',
       'Col139', 'Col140', 'Col141', 'Col142', 'Col143', 'Col144',
       'Col145', 'Col146', 'Col147', 'Col148', 'Col149', 'Col150',
       'Col151', 'Col152', 'Col153', 'Col154', 'Col155', 'Col156',
       'Col157', 'Col158', 'Col159', 'Col162', 'Col164', 'Col166',
       'Col168', 'Col169', 'Col170', 'Col175', 'Col176', 'Col177',
       'Col178', 'Col179', 'Col180', 'Col181', 'Col182', 'Col186',
       'Col187', 'Col188', 'Col189', 'Col192', 'Col193', 'Col194',
       'Col195', 'Col196', 'Col197', 'Col198', 'Col199', 'Col200',
       'Col201', 'Col202', 'Col203', 'Col204', 'Col205', 'Col206',
       'Col207', 'Col208', 'Col209', 'Col210', 'Col211', 'Col212',
       'Col213', 'Col214', 'Col215', 'Col216', 'Col217', 'Col218',
       'Col219', 'Col220', 'Col221', 'Col222', 'Col223', 'Col224',
       'Col225', 'Col226', 'Col227', 'Col228', 'Col229', 'Col230',
       'Col231', 'Col232', 'Col233', 'Col234', 'Col235', 'Col236',
       'Col237', 'Col238', 'Col239', 'Col241', 'Col243', 'Col244',
       'Col245', 'Col292', 'Col293', 'Col294', 'Col295', 'Col296',
       'Col297', 'Col298', 'Col299', 'Col300', 'Col301', 'Col302',
       'Col303', 'Col304', 'Col305', 'Col306', 'Col307', 'Col308',
       'Col309', 'Col310', 'Col311', 'Col312', 'Col313', 'Col314',
       'Col315', 'Col316', 'Col317', 'Col318', 'Col320', 'Col321',
       'Col322', 'Col323', 'Col324', 'Col325', 'Col326', 'Col327',
       'Col328', 'Col331', 'Col332', 'Col378', 'Col379', 'Col383',
       'Col384', 'Col385', 'Col386', 'Col389', 'Col390', 'Col391',
       'Col392', 'Col393', 'Col394', 'Col395', 'Col396', 'Col397',
       'Col398', 'Col399', 'Col400', 'Col401', 'Col402', 'Col403',
       'Col404', 'Col405', 'Col406', 'Col407', 'Col408', 'Col409',
       'Col410', 'Col411', 'Col412', 'Col413', 'Col414', 'Col415',
       'Col416', 'Col417', 'Col418', 'Col419', 'Col420', 'Col421',
       'Col422', 'Col423', 'Col424', 'Col425', 'Col426', 'Col427',
       'Col428', 'Col429', 'Col430', 'Col431', 'Col432', 'Col433',
       'Col434', 'Col435', 'Col436', 'Col438', 'Col440', 'Col441',
       'Col442', 'Col489', 'Col490', 'Col491', 'Col492', 'Col493',
       'Col494', 'Col495', 'Col496', 'Col497', 'Col498', 'Col499',
       'Col500', 'Col501', 'Col502', 'Col503', 'Col504', 'Col505',
       'Col506', 'Col507', 'Col508', 'Col509', 'Col510', 'Col511',
       'Col512', 'Col513', 'Col514', 'Col515', 'Col517', 'Col518',
       'Col519', 'Col520', 'Col521', 'Col522', 'Col523', 'Col524',
       'Col525', 'Col528', 'Col529', 'Col575', 'Col576', 'Col579',
       'Col580', 'Col581', 'Col582', 'Col585', 'Col586', 'Col587',
       'Col588', 'Col589', 'Col590', 'Col591', 'Col592', 'Col593',
       'Col594', 'Col595', 'Col596', 'Col597', 'Col598', 'Col599',
       'Col600', 'Col601', 'Col602', 'Col603', 'Col604', 'Col605',
       'Col606', 'Col607', 'Col608', 'Col609', 'Col610', 'Col611',
       'Col612', 'Col613', 'Col614', 'Col615', 'Col616', 'Col617',
       'Col618', 'Col619', 'Col620', 'Col621', 'Col622', 'Col623',
       'Col624', 'Col625', 'Col626', 'Col627', 'Col628', 'Col629',
       'Col630', 'Col631', 'Col632', 'Col634', 'Col636', 'Col637',
       'Col638', 'Col639', 'Col640', 'Col641', 'Col642', 'Col643',
       'Col644', 'Col645', 'Col646', 'Col647', 'Col648', 'Col649',
       'Col650', 'Col651', 'Col652', 'Col653', 'Col654', 'Col655',
       'Col656', 'Col657', 'Col658', 'Col659', 'Col660', 'Col661',
       'Col662', 'Col663', 'Col664', 'Col665', 'Col667', 'Col668',
       'Col669', 'Col670', 'Col671', 'Col672', 'Col673', 'Col674',
       'Col675', 'Col678', 'Col679', 'Col862', 'Col863', 'Col864',
       'Col865', 'Col866', 'Col867', 'Col868', 'Col869', 'Col870',
       'Col871', 'Col872', 'Col873', 'Col878', 'Col879', 'Col880',
       'Col882', 'Col883', 'Col884', 'Col886', 'Col887', 'Col888',
       'Col889', 'Col890', 'Col891', 'Col895', 'Col896', 'Col897',
       'Col898', 'Col899', 'Col900', 'Col904', 'Col905', 'Col906',
       'Col907', 'Col908', 'Col909', 'Col913', 'Col914', 'Col915',
       'Col916', 'Col920', 'Col921', 'Col925', 'Col926', 'Col930',
       'Col2392', 'Col2393', 'Col2394', 'Col2395', 'Col2396', 'Col2397'],
      dtype=object)

In [76]:
train.fillna(-1,inplace=True)
test.fillna(-1,inplace=True)

In [77]:
def getSign(val):
    if val < 0.0:
        return -1
    else:
        return 1
for col in cols_to_log:
    sign = train[col].apply(getSign)
    train[col] = np.log1p(np.abs(train[col]))*sign
    sign = test[col].apply(getSign)
    test[col] = np.log1p(np.abs(test[col]))

In [78]:
train.fillna(-1,inplace=True)
test.fillna(-1,inplace=True)

In [79]:
train_cols = train.columns[train.dtypes == float]

In [80]:
col_to_float = []
for col in train.columns:
    if col!= 'Col2' and train[col].dtype != test[col].dtype:
        col_to_float.append(col)

In [81]:
for col in col_to_float:
    train[col] = train[col].astype('float')

In [82]:
# train['unique'] = train[train_cols].nunique(axis=1)
# test['unique'] = test[train_cols].nunique(axis=1)

In [83]:
# train['mean'] = train[train_cols].mean(axis=1)
# test['mean'] = test[train_cols].mean(axis=1)

# train['max'] = train[train_cols].max(axis=1)
# test['max'] = test[train_cols].max(axis=1)

# train['min'] = train[train_cols].min(axis=1)
# test['min'] = test[train_cols].min(axis=1)

In [84]:
train['Col2'] = target

In [85]:
train.to_csv(f'{data_path}Processed_Train.csv',index=False)
test.to_csv(f'{data_path}Processed_Test.csv',index=False)

In [86]:
# to_remove_cols = []
# for col in train.columns:
#     if train[col].dtype != test[col].dtype:
#         to_remove_cols.append(col)